<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>인덱스여라</title>
</head>
<body>
    <a th:href="@{/}">/index</a> <br>
    <a th:href="@{/member/list}">/member/listTest</a> <br>
    <a th:href="@{/gallery/list}">/gallery/list</a> <br>
    <a th:href="@{/dyning/restaurant/list}">/dyning/restaurant/list</a> <br>
    <a th:href="@{/dyning/cafe/list}">/dyning/cafe/list</a> <br>

    <fieldset>
        <legend>
            인덱스여라
        </legend>
        <a th:href="@{/}">/index</a> <br>
    </fieldset>

    <fieldset>
        <legend>
            테스트여라
        </legend>
        <a th:href="@{/member/list}">/member/listTest</a> <br>
        <a th:href="@{/gallery/list}">/gallery/list</a><br>
    </fieldset>

    <fieldset>
        <legend>
            갈림길이여라
        </legend>

        <a th:href="@{/crossroad}">/crossroad</a><br>
        <a th:href="@{/crossroad/gallery}">/crossroad/gallery</a> <br>
        <a th:href="@{/crossroad/cafe}">/crossroad/cafe</a> <br>
        <a th:href="@{/crossroad/restaurant}">/crossroad/restaurant</a> <br>
    </fieldset>

    <a th:href="@{/main/companyinfo}">/main/companyinfo</a>
    <a th:href="@{/main/help}">/main/help</a>
   <form>
    <a th:href="@{/main/mypage(id='user1@icloud.com')}">
       <button>user1@icloud.com님의 마이페이지로 이동</button>
    </a>
  </form>
</body>
</html>
